.admin {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
}

.admin__title {
    text-align: center;
    font-size: 32px;
    color: #8b7969;
    margin-bottom: 30px;
}

.search-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.search-form__input,
.search-form__select,
.search-form__date {
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ddd;
}

.search-form__input {
    width: 250px;
}

.search-form__button {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.search-form__button--search {
    background: #8b7969;
    color: #fff;
}

.search-form__button--reset {
    background: #d9c6b5;
    color: #fff;
}

.export-button {
    padding: 8px 16px;
    background: #eee;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #d9c6b5;
    text-decoration: none;
    color: #8b7969;
    background: #e6e2de;
}

.admin-table__inner {
    width: 100%;
    border-collapse: collapse;
}

.admin-table__header {
    background: #8b7969;
    color: #fff;
    padding: 12px;
    text-align: left;
}

.admin-table__data {
    border: 1px solid #eee;
    padding: 12px;
}

.detail-button {
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #d9c6b5;
    text-decoration: none;
    color: #8b7969;
    background: #e6dede;
}

svg.w-5.h-5 {
    width: 30px;
    height: 30px;
  }

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: #fff;
    width: 500px;
    max-width: 90%;
    margin: 100px auto;
    padding: 30px;
    border-radius: 8px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.delete-button{
    display: inline-block;
    padding: 6px 12px;
    border: 1px solid #d9c6b5;
    text-decoration: none;
    color: #ffffff;
    background: #fa0303;
    margin: 0px auto;
}
.modal-row{
  display:flex;
  margin-bottom:10px;
}

.modal-row label{
  width:200px;
  font-weight:bold;
}

.modal-row .value{
  flex:1;
}