.form__content {
    width: 1000px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    font-size: 20px;
}
.form__title {
    text-align: center;
    font-size: 28px;
    margin-top: 40px;
}

.create-form div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.create-form label {
    width: 200px;
    font-weight: bold;
}

.create-form input,
.create-form select {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
}

.form__content__tel input {
    width: 80px;
    margin-right: 10px;
}

.confirmation__button {
    display: block;
    margin: 30px auto;
    padding: 10px 40px;
    background: #8b6b5c;
    color: white;
    border: none;
}

.form__content__name input{
    padding: 20px;
    margin-right: 30px;
}
