body {
    background: #ecdacb;
    font-family: sans-serif;
    color: gray;
}

.form__title {
    margin: 40px 0;
    text-align: center;
    font-size: 28px;
}

.form__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 40px 40px;
    box-sizing: border-box;
}

.create-form {
    width: 700px;
    padding: 40px 0;
    background: #fff;
    border-radius: 8px;
}

.form__group {
    width: 400px;
    margin: 30px auto;
}

.form__label--item {
    display: block;
    padding: 10px 0;
    font-size: 20px;
}

.form__group-content {
    display: flex;
    flex-direction: column;
}

.form__input--text input {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: rgb(236, 238, 240);
}

.form__error {
    margin-top: 6px;
    color: red;
    font-size: 14px;
}

.register__button,
.login__button {
    display: block;
    margin: 40px auto 0;
    padding: 10px 40px;
    border: none;
    background: #8b6b5c;
    color: #fff;
    cursor: pointer;
}