body {
    background: #ecdacb;
    font-family: sans-serif;
    color: gray;
}

.form__title {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 28px;
}

.form__content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 40px 40px;
}

.create-form {
    background: white;
    width: 700px;
    border-radius: 8px;
    padding: 40px 0;
}

.form__group {
    margin: 30px auto;
    width: 400px;
}

.form__label--item {
    display: block;
    padding: 10px 0;
    font-size: 20px;
}

.form__group-content {
    display: flex;
    flex-direction: column;
}

.form__input--text {
    width: 100%;
}

.form__input--text input {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: rgb(236, 238, 240);
}

.form__error {
    color: red;
    font-size: 14px;
    margin-top: 6px;
}

.register__button {
    display: block;
    margin: 40px auto 0;
    padding: 10px 40px;
    background: #8b6b5c;
    color: white;
    border: none;
}

.login__button {
    display: block;
    margin: 40px auto 0;
    padding: 10px 40px;
    background: #8b6b5c;
    color: white;
    border: none;
}